@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.audio-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.img{
  width: 100%;
  height: 100%;
}
.audio-img {
    width: 320px;
    height: 220px;
    align-items: center;
    position: absolute;
    top: 3em;
}

h1 {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.audio-img-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    
}
h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-transform: capitalize;
}

h6 {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    font-weight: 400;
    color: #bcbcbc;
}

.audio-progress {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
}

.progress_test {
  grid-column: 1 / -1;
    margin-bottom: 0.8rem;
    text-align: center;
    background-color: #3d3a4b;
    height: 0.2rem;
    width: 18rem;
    left: -35px;
    border-radius: 0.1rem;
    cursor: pointer;
    position: relative;
    top: 60px;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(to right, red, yellow);
    outline: none;
    transition: background 0.5s;
}

.progress_test::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    border: 2px solid #333;
    cursor: pointer;
    transition: background 0.5s;
}
.current-time {
    text-align: left;
    position: relative;
    top: 50px;
    color: white;
    left: -35px;
}

.duration {
    text-align: end;
    margin-right: 0.5rem;
    position: relative;
    top: 50px;
    color: white;
    left: -20px;
    
}

.audio-btns {
    width: 300px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.btn-p {
    cursor: pointer;
    border: unset;
    box-shadow: unset;
    background-color: unset;
    font-size: .5rem;
    color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
  cursor: pointer;
    border: unset;
    box-shadow: unset;
    background-color: unset;
    font-size: 1.5rem;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skip-forward{
 position: relative;
 left: -3px;
}
.skip-back{
  position: relative;
  left: 3px;
}
.play {
    text-align: center;
    border-radius: 100%;
    padding: .1em;
    width: 60px;
    height: 60px;
    background: white;
}
#music-player{
  height: 103%;
  width: 103%;
  left: -0.23em;
  top: 300px;
  background: black;
  position: fixed;
  display:  none;
  z-index: 100;
}
#menu{
  background: none;
  width: 20px;
  font-size: 20px;
  border: none;
  height: 20px;
  color: white;
  position: absolute;
  top: 1em;
  left: 1em;
}

.audio-singer{
  position: relative;
  color: white;
  display: flex;
}
.audio-title{
  color: white;
  position: relative;
  font-size: 16px;
  display: flex;
  white-space: nowrap;
}
.Singer{
  position: relative;
  text-align: center;
  width: 220px;
  top: 12em;
  left: -3em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.plus{
  position: relative;
  display: flex;
  font-size: 20px;
  top: 15em;
  left: 5em;
}
.replay{
  color: white;
}
.random{
  color: white;
}
#random{
  font-size: 20px;
}
#replay{
  font-size: 20px;
}
#plus{
  font-size: 20px;
}
.thanh-cc {
  width: 103%;
  height: 5em;
  position: fixed;
  display: block;
  left: 0.1em;
  z-index: 11;
  bottom: 0;
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  transform: translateY(8px);
}

ion-icon {
  width: 30px;
  height: 30px;
}

.icon-home,.icon-search,.icon-library {
  position: relative;
  top: -15px;
  background: none;
  transition: 1s all;
  border: none;
  left: -.5em;
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  display: inline-flex;
  padding: 40px;
}

.homehtml {
  z-index: 10;
  position: absolute;
  top: -1em;
  display: block;
}

.homehtml.active {
  display: none;
}

.control {
  width: 21em;
  height: 4em;
  position: fixed;
  z-index: 11;
  top: -.3em;
  align-items: center;
  align-self: center;
  display: block;
  transition: 1.2s all;
}

.control.active {
  display: none;
}

.user-icon {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 6;
}

.tat-ca, .nhac-nhe, .nhac-remix {
  height: 33px;
  min-width: 50px;
  max-width: 90px;
  top: 1em;
  border-radius: 20px;
  background: #3e3d3d;
  text-align: center;
  align-items: center;
  z-index: 6;
  font-size: 12px;
  margin: 3px;
  left: 5em;
  display: inline-flex;
  padding: 14px;
  position: relative;
  box-sizing: border-box;
}

.tat-ca {
  background: #00e300;
  color: white;
}

.img-img {
  width: 40px;
  height: 35px;
  border-radius: 2px;
  position: absolute;
  left: 10px;
  top: .3em;
}

.menu-nhac {
  width: 101%;
  height: 3em;
  position: fixed;
  background: #585858;
  bottom: 0;
  transform: translateY(-4.5em);
  align-items: center;
  border-radius: 10px;
  left: -.1em;
  display: none;
}

#btn-play {
  left: 22em;
  top: -2.7em;
  position: absolute;
  border: none;
  width: 40px;
  height: 40px;
  background: none;
  color: white;
  z-index: 6;
  text-align: center;
  align-items: center;
}

.text-menu-nhac {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 200px;
  color: white;
  left: 4em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Nghệ sĩ */ 
.i-artist {
  font-size: 10px;
  color: #ccc;
  margin: 0;
  text-align: left;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Tên bài hát */
.p-name {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin: 0;
  text-align: left;
  position: relative;
  width: 150px;
}

.searchhtml {
  display: none;
}

.searchhtml.active {
  display: block;
}

#pause {
  display: none;
}

#pause.active {
  display: block;
}

#playtracks {
  display: none;
}

#playtracks.active {
  display: block;
}
.settinghtml{
  display: none;
  z-index: 300;
}
#btn-plus{
  top: 45%;
  position: relative;
  display: flex;
}
.libraryhtml{
  display: none;
}
#i-1,#i-2,#i-3{
  width: 30px;
  height: 30px;
  font-size: 30px;
}